body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.postheader {
  background: #1976d2;
  display: flex;
  height: 4rem;
}

.postheader > * {
  height: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.postheader > *:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.postheader * {
  text-decoration: none;
  color: white;
  margin: 0px;
}

.postheader a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #004ba0;
}

a:hover {
  text-decoration: underline;
}
