main {
  padding-top: 5%;
  margin: auto;
  align-items: center;
  width: 40%;
  display: flex;
  flex-direction: column;
}

#hero-link {
  margin-bottom: 2em;
}

#hero {
  width: 100%;
}

.space {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-bottom: 1em;
}

.nav-link:not(:last-child) {
  margin-right: 1em;
}

form {
  width: 100%;
}

input[type="text"] {
  width: 60%;
  height: 2.2rem;
}

input[type="submit"] {
  height: 2.2rem;
  border-radius: 5px;
  border-style: solid;
  box-shadow: none;
  background: white;
}
