main {
  padding: 1.5em;
}

.posts-main {
  display: flex;
}

.post-preview {
  height: 200px;
  width: 200px;
  display: inline-block;
  position: relative;
}

.post-preview-image {
  height: 160px;
  width: 160px;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.post-preview-site {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.post-preview-site img {
  height: 16px;
  width: 16px;
}

.post {
  display: flex;
}

.metadata {
  flex: 1;
  padding-right: 2em;
  border-right: 1px #eee solid;
}

.searchform,
.searchform input {
  width: 100%;
}

.taglist {
  padding-left: 0.8rem;
}

.sourcelist {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.metadata h3 {
  margin: 2rem 0 0.8rem 0;
}

.metadata p {
  margin: 0.4rem 0 0.4rem 0;
}

.reverse-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  color: #004ba0;
  cursor: pointer;
  font-size: 1rem;
}

.reverse-link:hover {
  text-decoration: underline;
}

.post-tag {
  display: block;
  text-decoration: none;
  font-size: 0.8rem;
  line-height: 1.3rem;
  overflow-wrap: normal;
}

.posts-list {
  flex: 9;
}

.file-space {
  flex: 9;
  padding: 2em;
}

.post-file {
  max-width: 100%;
}

#aggregated img {
  height: 16px;
  width: 16px;
}