<!DOCTYPE html>
<html>
  <head>
    <title><%=title%> - Metabooru</title>
    <link rel="stylesheet" href="/css/404.css" />
    <%- include('head') %>
  </head>
  <body>
    <%- include('header') %>
    <main>
      <h1>404 - <%=title%></h1>
      <img src="/img/megumi.jpg" />
      <p><%=desc%></p>
      <p>
        <a href="javascript:history.back()">Go Back</a> - <a href="/">Home</a>
      </p>
    </main>
  </body>
</html>
