<!DOCTYPE html>
<html>
  <head>
    <title>About - Metabooru</title>
    <link rel="stylesheet" href="/css/meta.css" />
    <%- include('head') %>
  </head>
  <body>
    <%- include('header') %>
    <main>
      <h1>About</h1>
      <p>
        Metabooru is a tool designed to aggregate tags and search results from
        different "booru" image boards and merge them into single pages.
      </p>
      <p>
        Requests made to Metabooru are mirrored to its source boorus, with
        slight modifications in the middle to ensure compatibility.
        <br />
        Apart from temporarily caching files in order to reduce loading times
        and strain on the source boorus' servers, Metabooru does not store any
        post data or files from its source boorus.
      </p>
      <p>
        Metabooru is open-source, with its source code released under the MIT
        license. You can find its source code on its
        <a href="https://gitlab.com/110Percent/metabooru" target="_blank"
          >GitLab repository</a
        >.
        <br />
        Be forewarned: it's probably messy and undocumented for now, as it was
        initially written in a rush as a proof-of-concept.
      </p>
      <p>
        This site is provided free of charge and without advertisements. If you
        want to support its creator, feel free to make a one-time or recurring
        donation through
        <a href="https://liberapay.com/110Percent" target="_blank">Liberapay</a
        >. If you tend to use results from a particular booru often, please also
        consider supporting them through whatever means they provide.
      </p>
    </main>
  </body>
</html>
