<header class="postheader">
  <a href="/"><h2>Metabooru</h2></a>
  <a href="/posts"><span>Posts</span></a>
  <a href="/about"><span>About</span></a>
  <a href="/terms"><span>Terms</span></a>
  <a href="https://liberapay.com/110Percent"><span>Donate</span></a>
</header>
