<link rel="stylesheet" href="/css/common.css" />
<meta charset="utf-8" />
<meta property="og:title" content="Metabooru" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://metabooru.net/img/embed.jpg" />
<meta
  property="og:description"
  content="Search multiple boorus simultaneously for your favourite images with Metabooru."
/>
<meta
  name="keywords"
  content="meta, booru, image, images, search, aggregate, merge, combine, multiple, anime"
/>
