<!DOCTYPE html>
<html>
  <head>
    <title>Metabooru</title>
    <link rel="stylesheet" href="/css/index.css">
    <%- include('head') %>
  </head>

  <body>
    <main>
      <a href="/" id="hero-link">
        <img src="/img/hero.png" id="hero">
      </a>
      <div class="space">
        <a href="/posts" class="nav-link"><span>Posts</span></a>
        <a href="/about" class="nav-link"><span>About</span></a>
        <a href="/terms" class="nav-link"><span>Terms</span></a>
        <a href="https://liberapay.com/110Percent" class="nav-link"><span>Donate</span></a>
      </div>
      <div class="space">
        <form action="posts" method="get">
          <input type="text" name="q" autofocus>
          <input type="submit" value="Search">
        </form>
      </div>
      <div class="space">
        <span>Total Visits: <%=visits%></span>
      </div>
    </main>
  </body>
</html>
