<!DOCTYPE html>
<html>
  <head>
    <title><%=query%> - Search - Metabooru</title>
    <link rel="stylesheet" href="/css/posts.css" />
    <%- include('head') %> <% boorus.forEach((booru) => { %>
    <link rel="prefetch" href="/img/icons/<%=booru%>.png" />
    <% }) %>
  </head>
  <body>
    <%- include('header') %>
    <main>
      <div class="posts-main">
        <div class="metadata">
          <div class="meta-section">
            <h3>Search</h3>
            <form class="searchform" action="/posts" method="get">
              <input name="q" type="text" value="<%=query%>" />
            </form>
          </div>
          <div class="meta-section">
            <h3>Tags</h3>
            <ul>
              <% numTags.forEach((t) => { %>
              <a class="post-tag" href="/posts?q=<%=t[0]%>"
                ><li><%=t[0].replace(/_/g, ' ')%> (<%=t[1]%>)</li></a
              >
              <% }) %>
            </ul>
          </div>
        </div>
        <div class="posts-list">
          <% posts.forEach((post) => { %>
          <div class="post-preview">
            <a href="/post/<%=post.md5%>">
              <img
                src="<%=`/preview/${post.sites[0]}${post.thumbPath}`%>"
                title="<%=post.tags%>"
                class="post-preview-image"
              />
              <div class="post-preview-site">
                <% post.sites.forEach((site) => { %>
                <img
                  src="/img/icons/<%=site%>.png"
                  title="<%=site.charAt(0).toUpperCase() + site.substring(1)%>"
                />
                <% }) %>
              </div>
            </a>
          </div>
          <% }) %>
        </div>
      </div>
    </main>
  </body>
</html>
