<!DOCTYPE html>
<html>
  <head>
    <title><%=post.tags.slice(0, 6).join(', ')%> - Post - Metabooru</title>
    <link rel="stylesheet" href="/css/posts.css" />
    <%- include('head') %>
  </head>
  <body>
    <%- include('header') %>
    <main>
      <div class="post">
        <div class="metadata">
          <div class="meta-section">
            <h3>Search</h3>
            <form class="searchform" action="/posts" method="get">
              <input name="q" type="text" />
            </form>
          </div>
          <div class="meta-section">
            <h3>Tags</h3>
            <ul class="taglist">
              <% post.tags.forEach((t) => { %>
              <a class="post-tag" href="/posts?q=<%=t%>"
                ><li><%=t.replace(/_/g, ' ')%></li></a
              >
              <% }) %>
            </ul>
          </div>
          <div class="meta-section">
            <h3>Information</h3>
            <p>
              Size: <%=post.humanSize%> (<%=
              post.image_width%>x<%=post.image_height%>)
            </p>
            <p>MD5: <%=post.md5%></p>
            <p>Sources:</p>
            <ul class="sourcelist">
              <% post.sources.forEach((source) => { %>
              <li>
                <a href="<%-source%>"
                  ><%-/https?:\/\/([a-zA-Z0-9\-.]+)\//.exec(source)[1]%></a
                >
              </li>
              <% }) %>
            </ul>
            <p>
              Rating: <%=post.rating.charAt(0).toUpperCase() +
              post.rating.substring(1)%>
            </p>
            <h3>Reverse Search</h3>
            <% // TODO: Automate this %>
            <p>
              <a
                href="https://saucenao.com/search.php?url=<%=post.file_url%>"
                target="_blank"
                >SauceNAO</a
              >
            </p>
            <p>
              <a
                href="https://www.google.com/searchbyimage?image_url=<%=post.file_url%>"
                target="_blank"
                >Google</a
              >
            </p>
            <p>
              <a
                href="https://yandex.com/images/search?url=<%=post.file_url%>&rpt=imagelike"
                target="_blank"
                >Yandex</a
              >
            </p>
            <p>
              <a href="https://iqdb.org/?url=<%=post.file_url%>" target="_blank"
                >IQDB</a
              >
            </p>
            <p>
              <a
                href="https://tineye.com/search?url=<%=post.file_url%>"
                target="_blank"
                >TinEye</a
              >
            </p>
          </div>
        </div>
        <div class="file-space">
          <% if (post.tags.includes('video')) { %>
          <video
            src="<%=`/file/${post.site}/${post.md5}.${post.file_url.split('.')[post.file_url.split('.').length - 1]}`%>"
            class="post-file"
            autoplay
            loop
            controls
          ></video>
          <% } else { %>
          <img
            src="<%=`/file/${post.site}/${post.directory}/${post.md5}.${post.file_url.split('.')[post.file_url.split('.').length - 1]}`%>"
            class="post-file"
          />
          <% } %>
          <div id="aggregated">
            <span
              >Aggregated from <% post.viewURLs.map((v, i, arr) => { %>
              <a href="<%=v[1]%>">
                <img src="/img/icons/<%=v[0].toLowerCase()%>.png" />
                <span><%=v[0]%></span> </a
              ><%= ( arr.length > 0 && i < arr.length-1 ? ( i == arr.length-2 ?
              ' and ' : ', ' ) : '' ) %> <% }).join(', ') %>
            </span>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
