<!DOCTYPE html>
<html>
  <head>
    <title>Terms - Metabooru</title>
    <link rel="stylesheet" href="/css/meta.css" />
    <%- include('head') %>
  </head>
  <body>
    <%- include('header') %>
    <main>
      <h1>Terms of Use</h1>
      <p>
        By using any part of Metabooru's website ("Site") you agree to these
        Terms of Use ("Terms"). Use of the Site without agreement to these terms
        is prohibited, and any use of the Site will be treated as an acceptance
        of these Terms. Metabooru reserves the right to modify these Terms at
        any time without warning. The operators of the Site are not entirely
        held to these Terms.
      </p>
      <h2>Access</h2>
      <ul>
        <li>
          You agree not to use the Site if you are under 18 years of age or the
          age of majority in your jurisdiction.
        </li>
        <li>
          The Site reserves the right to revoke access to the Site at any time
          for any or no reason, including, but not limited to, violating these
          Terms.
        </li>
      </ul>
      <h2>Use</h2>
      <ul>
        <li>
          The Site is presented to you as-is, without any warranty, express or
          implied. You will not hold the Site or any of its maintainers or
          contributors liable for damages caused by the use of this site.
        </li>
        <li>You agree to use the Site solely for personal use.</li>
        <li>
          You understand that there may be content on the Site that does not
          appeal to you or you feel is morally wrong.
        </li>
        <li>
          You agree not to use the Site in a manner that would prevent or
          disrupt others from using either the Site or any other service it
          connects to. Metabooru is not a tool to anonymize or spam requests,
          and abuse in this form will not be tolerated in the slightest.    
        </li>
        <li>
          You accept that the Site is not responsible or liable for any content
          you may find on it.
          <ul>
            <li>
              If you feel you have come across content that violates the terms
              of its parent site, please notify the owners of said site.
              Metabooru pulls its content from third parties and does not
              moderate what it displays to its users.
            </li>
          </ul>
        </li>
        <li>
          You will not use any automated process to retrieve or index any
          portion of the site or site contents.
          <ul>
            <li>
              If you feel a need to automate pulling data using Metabooru's
              search methods, please use your own instance cloned from
              Metabooru's
              <a href="https://gitlab.com/110Percent/metabooru">source code</a>
              or create your own method based on said code. Please remember to
              follow the terms of service of the boorus you pull data from.
            </li>
          </ul>
        </li>
      </ul>
      <h2>Privacy</h2>
      <ul>
        <li>
          The Site reserves the right to share logs and/or IP addresses with
          third parties should it be deemed necessary by the staff, including,
          but not limited to, upon request by another booru in respone to spam
          or abuse.
        </li>
      </ul>
    </main>
  </body>
</html>
